.header{
    width: 100%;
    height: normal;
    background-color: #ff6600;
    a {
        margin: 0px 5px;
        color: #000000;
        &:hover {
            color: #000000;
            text-decoration: none;
        }
        a:active {
            color: white;
          }
        // &:active{
        //     color: #ffffff;
        // }
    }
    img {
        width: 20px;
        height: 20px;
        margin: 3px;
        border:1px white solid;
    }
    .topnav-right {
        float: right;
        margin-top: 3px;
    }
}
.pagespace{
    height: 10px;
    width: 100%;
    background-color: #f6f6ef;
}

